<ul>
   <%# <li>
      <a href="/coins">Cadastro de moedas</a>
   </li> %>
   <%#Helpers%>
   <li>
      <%= link_to "Moedas", coins_path %>
   </li>
    <li>
      <%= link_to "Mineração", mining_types_path %>
   </li>
</ul>
