<h1>Seja Bem-Vindo!</h1>
<p><strong> Data: </strong> <%= data_br(Date.today) %></p>
<ul>
   <%# <li>
      <a href="/coins">Cadastro de moedas</a>
   </li> %>
   <%#Helpers%>
   <%=nome_aplicacao%>
   <li>
      <%= link_to "Cadastro de moedas", coins_path %>
   </li>
</ul>