<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= image_tag coin.url_image, width: 25, style: "display: flex" %>
  </p>

</div>
