<%= render "form", mining_type: @mining_type %>

<br>

<div class="container">
  <%= link_to t('links.show'), @mining_type, class:"btn btn-dark" %> |
  <%= link_to t('links.back'), mining_types_path, class:"btn btn-dark" %>
</div>
